body {
  padding-top: 20px;
  background-color: rgb(226, 226, 226);
}

#calc-container {
  margin: 0 auto;
  height: 600px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  background-color: black;
  border-radius: 20px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

#display-container {
  background-color: inherit;
  border-radius: inherit;
  padding: 30px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 340px;
}

#num-display {
  color: white;
  background-color: inherit;
  height: auto;
  width: 100%;
  font-size: 50px;
  text-align: right;
}

#keypad {
  background-color: rgb(29, 29, 29);
  border-radius: inherit;
  padding: 30px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button {
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: black;
}

button:hover {
  background-color: rgb(10, 10, 10);
}

.operation {
  color: rgb(0, 209, 209);
}

#clear-button {
  color: rgb(212, 0, 0);
}